/* Styling for the footer container */
.footer {
  background-color: #081528; /* Set background color for the footer */
  width: 100%; /* Set the width to 100% */
  color: white; /* Set text color to white */
}

/* Styling for footer image */
.footer__img {
  width: 10%; /* Set the width of the footer image to 10% */
}

/* Styling for the content container within the footer */
.footer__container {
  padding: 2rem 0 3rem; /* Add padding to the top and bottom of the container */
}

/* Styling for the footer title */
.footer__title {
  text-align: center; /* Center-align the text within the footer title */
}

/* Styling for the list within the footer */
.footer__list {
  display: flex; /* Use flex display for the list */
  justify-content: center; /* Center-align the list items horizontally */
  column-gap: 1.5rem; /* Add horizontal spacing between list items */
}

/* Styling for the social links within the footer */
.footer__social {
  display: flex; /* Use flex display for the social links */
  justify-content: center; /* Center-align the social links horizontally */
  column-gap: 2rem; /* Add horizontal spacing between social links */
  margin: 2rem 0; /* Add margin to the top and bottom of the social links */
}

/* Styling for the copyright text within the footer */
.footer__copy {
  display: block; /* Display the copyright text as a block element */
  margin-top: 2rem; /* Add margin to the top of the copyright text */
  color: #6b7788; /* Set the text color to a light gray */
  text-align: center; /* Center-align the copyright text */
}

/* Media queries for responsive design */

/* For large devices (greater than 992px) */
@media screen and (max-width: 992px) {
  .footer__social-link {
    padding: 0.25rem; /* Add padding to the social links */
    border-radius: 0.25rem; /* Apply border radius to the social links */
    font-size: 1rem; /* Adjust font size for social links */
  }
}

/* For medium devices (768px to 992px) */
@media screen and (max-width: 768px) {
}

/* For small devices (576px to 768px) */
@media screen and (max-width: 576px) {
}

/* For extra small devices (less than 576px) */
@media screen and (max-width: 450px) {
}
